{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}
    <h1>Liste des livres</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Nombre de pages</th>
                <th>Auteurs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.nbPages }}</td>
                <td>{{ livre.auteurs }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}" class="btn btn-primary">Détails</a>
                    {% if app.user.id == livre.user.id %}
                        
                    <a href="{{ path('livre_edit', {'id': livre.id}) }}" class="btn btn-secondary" title="Modifier"><span class="fa fa-edit"></span></a>
                    
                    {{ include('livre/_delete_form.html.twig') }}
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun livre trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('livre_new') }}" class="btn btn-primary"><span class="fa fa-plus"></span> Ajouter un livre</a>
{% endblock %}
